sectiom#aboutmethods
   .text
      h2.h2 Основа успеха - авторские 
         span методики Нины Тумановой
      small Методики, рассчитанные на быстрый результат!
   img(src="../../img/about_methods/vectors/top/puddle_top.svg", alt="puddle_top").cloud
   img(src="../../img/about_methods/vectors/top/wsshape.svg", alt="small shape").smallshape
   img(src="../../img/about_methods/vectors/top/wshape.svg", alt="white shape").whiteshape