include ../components/cta

section#brandbook
   .brandbook
      img(src="../../img/brandbook/book.webp", alt="book").book
      +cta
      img(src="../../img/brandbook/brandshape.svg" width=320 height=260).brandshape

   .annotation
      hr
      p Вы можете купить минимальный формат для запуска кабинета коррекции и развития и далее расширять свой бизнес поэтапно по мере окупаемости инвестиций и накопления средств. Для небольших городов мы предлагаем формат с эксклюзивом на ваш город, а для больших городов — закрепляем территорию для здоровой конкуренции. Можно сразу купить эксклюзив на ваш город и создать сеть из нескольких центров или кабинетов.
   