include ../components/link

section#businesscard
   .business
      .business__container
         h4 С нами - от кабинета до центра!
         h3 Станьте партнером сети &nbsp;
            span «Вершина результата»
         h5 Зубарева Ирина
         .contacts 
            .number
               img(src="./img/business_card/phone.svg")
               span
                  a(href="tel:+79934677611") +7 (993) 467-76-11, 
                  a(href="tel:+79773750940") +7 (977) 375-09-40
            .email
               img(src="./img/business_card/mail.svg")
               span 
                  a(href="mailto:irinazuboreva@topfranchise.ru") irinazuboreva@topfranchise.ru
            .icons
               +link("https://telegram.org/", 'tg')
               +link("https://whatsapp.org/", 'wa')

      img(src='./img/business_card/img.png', alt="" + title).img