include ../mixins/cta.pug

section#ctamethods
   +cta
   img(src="./img/about_methods/vectors/middle/bspuddle.svg", alt="small puddle").bsp
   img(src="./img/about_methods/vectors/middle/bpuddle.svg", alt="puddle").bp
   img(src="./img/about_methods/vectors/middle/bshape.svg", alt="shape").bs
   img(src="./img/about_methods/vectors/middle/woval.svg", alt="oval").oval