include ../components/cta.pug

section#cta
   .cta__container 
      +cta
      img(src="./img/cta/class.webp", alt="class").class
   img(src="./img/cta/vectors/oval.svg", alt="oval").oval
   img(src="./img/cta/vectors/puddle.svg", alt="puddle").puddle
   img(src="./img/cta/vectors/shape.svg", alt="shape").shape
