footer 
   .container
      .left 
         .navigation
            nav.logo
               a(href="#")
                  img(src="./img/logo.png", alt="logo" width=72 height=72)
            .tabs 
               nav
                  a(href="#mainscreen") О проекте
               nav
                  a(href="#benefits") Преимущества
               nav
                  a(href="#packages") Формат
               nav
                  a(href="#whats_included") Франшиза
               nav
                  a(href="#anchor") Контакты    
         span &copy; 2023 Все права защищены
      .right
         .call 
            img(src="./img/business_card/phone.svg", alt="call" width=24 height=24) 
            .call__container 
               a(href="tel:9999") 
                  span
                     sub +7 (993) &nbsp;
                     span 467-76-11
               a(href="tel:9999") 
                  span 
                     sub +7 (977) &nbsp; 
                     span 375-09-40
               h6 Есть вопросы? Звоните!

         span 
            a(href="#") Политика конфиденциальности
      .policy 
         span &copy; 2023 Все права защищены
         span 
            a(href="#") Политика конфиденциальности
   img(src="./img/footer/puddle.svg", alt="").pud
   img(src="./img/footer/shape.svg", alt="").shape
   img(src="./img/footer/sshape.svg", alt="").sshape