include ../components/slide.pug

include ../../utils/sliderData.pug

section#fourbenefits
      
   h2.h2 
      span ТОП-4 преимуществ франшизы &nbsp;
      | центра коррекции и развития «ВЕРШИНА РЕЗУЛЬТАТА».

   section.splide(aria-label='Basic Structure Example')
      .splide__arrows
         button.splide__arrow.splide__arrow--prev 
            img(src="./img/four_benefits/slider/LArrow.svg" alt='left-arrow')
         button.splide__arrow.splide__arrow--next
            img(src="./img/four_benefits/slider/RArrow.svg" alt='right-arrow')

      .splide__track
         ul.splide__list
            each slide in slider
               li(data-splide-interval="10000").splide__slide
                  +slide(slide.num, slide.title, slide.description, slide.paragraph, slide.img, slide.marks, slide.hstyle)

   img(src="./img/four_benefits/vectors/bshape.svg", alt='beige shape').bs
   img(src="./img/four_benefits/vectors/bsshape.svg" alt='small beige shape').bss
   img(src="./img/four_benefits/vectors/bpuddle.svg" alt='beige puddle').bp



         