include ../components/button.pug


header
   .navigation
      nav.logo
         a(href="")
            img(src="./img/logo.png", alt="logo" width=64 height=64) 
      .tabs
         nav
            a(href="#mainscreen") О проекте
         nav
            a(href="#benefits") Преимущества
         nav
            a(href="#packages") Формат
         nav
            a(href="#whats_included") Франшиза
         nav
            a(href="#anchor") Контакты
         nav.get
            a(href="#included") Получить презентацию
   +button("#included", "Получить презентацию")
   .burger
      span
      span
      span
      span
