include ../components/button.pug

section#mainscreen   
   .container
      .left 
         h1 Откройте центр коррекции и развития речи по франшизе 
            span «ВЕРШИНА РЕЗУЛЬТАТА»
         .left__benefits
            .left__benefits__icon
               img(src="./img/main_screen/icons/chart.svg", alt="chart" width=30 height=30 )
               h4 Прибыль от 100 000 рублей в месяц
            .left__benefits__icon
               img(src="./img/main_screen/icons/money.svg", alt="money" width=30 height=30 )
               h4 Рентабельность - 25%
            .left__benefits__icon
               img(src="./img/main_screen/icons/startup.svg", alt="startup" width=30 height=30 )
               h4 Запуск – 1 месяц
         +button("#included", "Узнать подробнее")

      .right
         img(src="./img/main_screen/girl.png", alt="girl" width=540 height=600).girl
         img(src="./img/main_screen/notes.svg", alt="notes" width=200 height=185).note
         img(src="./img/main_screen/vectors/star.svg", alt="star" width=31 height=35).star.b
         img(src="./img/main_screen/vectors/star.svg", alt="star" width=31 height=35).star.c
         img(src="./img/main_screen/vectors/star.svg", alt="star" width=17 height=19).star.d
         img(src="./img/main_screen/vectors/star.svg", alt="star" width=18 height=20).star.e
         img(src="./img/main_screen/vectors/star.svg", alt="star" width=31 height=35).star.f
         img(src="./img/main_screen/vectors/star.svg", alt="star" width=18 height=20).star.g
         img(src="./img/main_screen/vectors/star.svg", alt="star" width=17 height=19).star.h
         img(src="./img/main_screen/vectors/star.svg", alt="star" width=31 height=35).star.i
         img(src="./img/main_screen/vectors/star.svg", alt="star" width=17 height=19).star.j
         img(src="./img/main_screen/vectors/star.svg", alt="star" width=28 height=31).star.k
         img(src="./img/main_screen/vectors/star.svg", alt="star" width=36 height=41).star.l
         img(src="./img/main_screen/vectors/star.svg", alt="star" width=17 height=19).star.m
         img(src="./img/main_screen/vectors/speech_bubble.svg", alt="speech_bubble" width=112 height=78).speech_bubble

      img(src="./img/main_screen/vectors/star.svg", alt="star" width=25 height=28).star.a

   i.clouds