include ../components/index.pug

include ../../utils/sliderData.pug

-
   var data = [{
      title: 'Зарегистрированный товарный знак «Вершина результата»',
      regular: 'Бренд-бук и авторские брендированные учебные материалы.',
   }, 
   {
      title: 'Методика',
      regular: 'Передаем обучающие программы, обучаем работе по авторской методике Нины Тумановой.',
   }, 
   {
      title: 'Бизнес-бук',
      regular: 'Подробная база знаний с необходимыми документами для всех этапов работы и внутренних процессов.',
   },
   {
      title: 'Помещение',
      regular: 'Помощь и консультация по поиску, подбору и аренде помещения, ремонту и брендированию, планированию и зонированию помещения.',
   },
   {
      title: 'Персонал',
      regular: 'Консультируем по подбору и обучению персонала, обучаем и выводим на требуемый уровень компетенций, помогаем наладить адаптацию и мотивацию сотрудников.',
   },
   {
      title: 'Рекламная кампания',
      regular: 'Помогаем составить индивидуальную рекламную стратегию на основании анализа конкурентов и ценовой политики. Передаем необходимые инструкции и чек-листы по всем направлениям маркетинга.',
   }]

main
   include _header.pug
   include _mainscreen.pug
   include _cta.pug
   include _benefits.pug
   include _aboutmethods.pug
   include _ctamethods.pug
   include _fourbenefits.pug
   include _packages.pug
   include _whatsincluded.pug
   include _footer.pug
