include button

mixin form()
   form(action=action)
      input(type="text" placeholder="Имя" autocomplete='given-name' required)
      input(type="phone" class="phone" placeholder="+ 7 (___) ___-__-__" required)
      input(type="email" placeholder="E-mail" autocomplete='email')
      button(type='submit').button.green Оставить завку
      .checkbox
         input(type="checkbox" name='check' id='check' value='yes')
         label(for="check")
            span Заполняя форму на сайте, вы соглашаетесь на обработку персональных данных, а также с нашей 
               a(href="#") Политикой конфиденциальности