mixin button(link, name, green = "yes")
   if (green == 'yes')
      a(href=link role="button" type='submit').button.green
         span #{name} 
   else 
      a(href=link role="button" type='submit').button.orange
         span #{name} 