#ctamethods {
   background-color: $whitegreen;
   padding: 10px 0 200px;
   position: relative;
   z-index: 10;
 
   .cta {
     position: relative;
     z-index: 3;
   }
 
   .oval {
     top: 52px;
     left: calc(225px + 60px);
   }
 
   .bp {
     right: 0;
     // top: 0;
   }
 
   .bs {
     left: 63px;
   }
   .bsp,
   .bp,
   .bs,
   .oval {
     position: absolute;
     z-index: 2;
   }
 
   @media (max-width: $lscreen) {
     .oval {
       top: 52px;
       left: 142px;
     }
   }
 
   @media (max-width: $notebooks) {
     .oval {
       top: 14px;
       left: 30px;
     }
 
     .bsp,
     .bp {
       width: 150px;
     }
 
     .bs {
       width: 50px;
     }
   }
 
   @media (max-width: $tablet) {
     .oval {
       top: 0;
       left: 31px;
     }
 
     .bsp,
     .bp {
       width: 120px;
     }
 
     .bs {
       width: 40px;
     }
   }
 
   @media (max-width: $mobile) {
     .bs {
       width: 40px;
       bottom: 100px;
       left: 50px;
     }
 
     .bsp,
     .bp {
       width: 110px;
     }
 
     .bsp {
       bottom: -70px;
     }
     .oval {
       width: 150px;
     }
   }
 }