@import "./../variables";
@import "../components/burger";

header {
  display: flex;
  padding: 8px 140px;
  background-color: $backgroundgreen;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 10;

    .get {
      display: none;
    }
    .tabs {
      display: flex;
      gap: 30px;
    }

    .logo {
      margin-right: 8px;
    }

    nav {
      a {
        font-size: 16px;
        font-weight: 500;
        color: $dark;
        text-decoration: none;
      }
    }
  }

  .button {
    display: flex;
    max-width: 280px;
    max-height: 57px;
    z-index: 10;

    span {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      align-self: center;
      display: flex;
    }
  }

  @media (max-width: $lscreen) {
    padding: 8px 100px;

    .navigation {
      gap: 30px;

      .logo {
        margin-right: 0px;
      }

      .tabs {
        gap: 15px;
        flex-wrap: wrap;
      }
    }

    .button {
      padding: 12px 25px;

      span {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  @media (max-width: $notebooks) {
    padding: 8px 60px;
    align-items: center;

    font-size: 14px;

    .navigation {
      gap: 15px;

      nav a {
        font-size: 14px;
      }

      .logo {
        margin-right: 0px;
        img {
          width: 48px;
          height: 48px;
        }
      }

      .tabs {
        gap: 10px;

        flex-wrap: wrap;
      }
    }

    .button {
      padding: 8px 15px;

      span {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  @media (max-width: $tablet) {
    justify-content: flex-end;
    padding: 20px 10px;

    .button {
      display: none;
    }

    .lock {
      overflow: hidden;
    }

    .navigation {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      transition: all 0.3s ease;
      z-index: 1;

      &.active {
        top: 0;
        background-color: $backgroundgreen;
      }

      .tabs,
      .get,
      nav {
        display: block !important;
      }

      .tabs {
        text-align: center;
        nav {
          margin-bottom: 20px;
          a {
            font-size: 18px;
            font-weight: 600;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .logo {
        display: none;

        a {
          display: none;
          img {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}
