#packages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px 100px;
  background-color: $whitegreen;

  .h2 {
    margin-bottom: 40px;
    z-index: 10;
  }

  .container_grid {
    column-gap: 40px;
    display: grid;
    grid-template-areas:
      "hd1 hd2"
      "ct1 ct2";
    grid-template-columns: 500px 500px;
    z-index: 10;

    .content {
      background-color: $w;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 30px;
    }

    .head {
      padding: 30px 30px 50px;
      border-bottom: 2px dashed $bordergrey;
      border-radius: 30px;
      background-color: $w;

      &.orange {
        border-top: 10px solid $orange;
      }

      &.green {
        border-top: 10px solid $green;
      }

      h3 {
        font-size: 27px;
        font-weight: 500;
        text-align: center;
        max-width: 440px;
      }
      h4 {
        color: $grey;
        font-size: 18px;
        max-width: 440px;
        font-weight: 500;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      padding: 30px 30px 85px;
      gap: 24px;
      border-radius: 30px;
      background-color: $w;

      .item {
        gap: 8px;
        max-width: 440px;
        h5 {
          font-size: 17px;
          font-weight: 400;
          color: $grey;
        }

        h6 {
          font-size: 18px;
          font-weight: 400;
          color: $dark;
        }

        .invest {
          font-size: 27px;
        }

        ul {
          max-width: 440px;
          list-style-type: disc;
          padding-left: 25px;
        }
      }
    }

    .button {
      margin-bottom: 30px;
      max-width: 360px;
      width: 100%;
    }
  }

  @media (max-width: $lscreen) {
    .container_grid {
      column-gap: 20px;
    }
  }

  @media (max-width: $notebooks) {
    .container_grid {
      grid-template-areas:
        "hd1"
        "ct1"
        "hd2"
        "ct2";
      grid-template-columns: 1fr;

      .block:nth-child(2) {
        margin-bottom: 40px;
      }

      .head {
        gap: 10px;

        h3 {
          font-size: 22px;
        }

        h4 {
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: $tablet) {
    .container_grid {
      column-gap: 40px;

      .head {
        gap: 10px;

        h3 {
          font-size: 22px;
        }

        h4 {
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: $mobile) {
    padding: 0 10px 100px;

    .container_grid {
      .head {
        gap: 10px;

        h3 {
          font-size: 20px;
        }

        h4 {
          font-size: 14px;
        }
      }

      .info {
        .item {
          h6 {
            font-size: 16px;
          }
        }
      }

      .button {
        max-width: unset;
        width: auto;
      }
    }
  }
}
