@import "./variables";

.button {
  max-width: 280px;
  max-height: 60px;
  padding: 16px 36px;
  border-radius: 48px;
  text-align: center;

  &.green {
    background-color: $green;
  }

  &.orange {
    background-color: $orange;
  }
}

.mark {
  display: flex;
  align-items: self-start;
  justify-content: center;
  gap: 14px;

  .text {
    display: flex;
    flex-direction: column;
    color: $dark;
    font-size: 18px;

    .title {
      font-weight: 700;
    }
    .reqular {
      font-weight: 400;
    }
  }
}

.benefitbox {
  padding: 40px;
  background-color: $whitegreen;
  border-radius: 24px;
  border: 2px dashed $bordergrey;

  .header {
    max-width: 590px;
    font-size: 27px;
    font-weight: 600;
    color: $grey;
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .mark {
      align-self: start;

      .text {
        max-width: 540px;
      }
    }
  }
}

.benefiticon {
  display: flex;
  gap: 12px;
  align-items: center;

  span {
    color: $grey;
    font-size: 24px;
    font-weight: 400;
  }
}

.box {
  display: flex;
  flex-direction: column;
  background-color: $whitegreen;
  border-radius: 24px;
  border: 2px dashed $bordergreen;
  padding: 77px 40px;
  gap: 30px;
}

.card {
  background-color: $w;
  padding: 6px;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 400;
  max-width: 360px;
  max-height: 252px;
  height: 252px;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    border-radius: 18px;
    border: 2px dashed $bordercard;
    height: 238px;
    // justify-content: space-between;

    .top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      span {
        color: $grey;
      }
    }

    .bottom {
      max-width: 320px;
      color: $dark;
      align-items: flex-end;

      h4 {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}

.package {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;

  &__container {
    background-color: $whitegreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
  }

  .button {
    margin-bottom: 30px;
  }

  .head {
    padding: 30px 30px 50px;
    border-bottom: 2px dashed $bordergrey;
    border-radius: 30px;
    background-color: $whitegreen;

    &.orange {
      border-top: 10px solid $orange;
    }

    &.green {
      border-top: 10px solid $green;
    }

    h3 {
      font-size: 27px;
      font-weight: 500;
      text-align: center;
      max-width: 440px;
    }
    h4 {
      color: $grey;
      font-size: 18px;
      max-width: 440px;
      font-weight: 500;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 85px;
    gap: 24px;
    border-radius: 30px;
    background-color: $whitegreen;

    .item {
      gap: 8px;
      max-width: 440px;
      h5 {
        font-size: 17px;
        font-weight: 400;
        color: $grey;
      }

      h6 {
        font-size: 18px;
        font-weight: 400;
        color: $dark;
      }

      .invest {
        font-size: 27px;
      }

      ul {
        max-width: 440px;
        list-style-type: disc;
        padding-left: 25px;
      }
    }
  }
}

.slide {
  border: 2px dashed $green;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  max-width: 960px;
  width: 100%;
  height: 512px;

  &__container {
    padding: 40px 30px 40px 60px;
    width: 100%;
    max-width: 600px;

    img {
      margin-bottom: 30px;
    }
    h3 {
      color: $orange;
      font-size: 27px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    h4 {
      color: $grey;
      font-size: 21px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    h5 {
      color: $dark;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .img {
    border-radius: 24px !important;
    width: 368px;
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  gap: 14px;

  input {
    ::placeholder {
      color: $placeholder;
    }
  }

  input[type="text"],
  input[type="phone"],
  input[type="email"] {
    padding: 16px 20px;
    border: 1px solid $grey;
    border-radius: 48px;
  }
  .button {
    max-width: 360px;
    width: 100%;
  }

  .checkbox {
    $black: $dark;
    $lightgray: $grey;
    display: flex;
    gap: 12px;

    a {
      color: $dark;
      text-decoration: underline;
    }

    input[type="checkbox"] {
      position: relative;
      width: 58px;
      height: 22px;
      color: $black;
      border: 1px solid $grey;
      border-radius: 6px;
      appearance: none;
      outline: 0;
      cursor: pointer;
      transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

      &::before {
        position: absolute;
        content: "";
        display: block;
        top: 0px;
        left: 6px;
        width: 8px;
        height: 14px;
        border-style: solid;
        border-color: $w;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
      }

      &:checked {
        color: $w;
        border-color: $green;
        background: $green;
        &::before {
          opacity: 1;
        }
        ~ label::before {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
      }
    }

    label {
      position: relative;
      cursor: pointer;
      font-size: 13px;
      font-weight: 300;
      padding: 0 0.25em 0;
      user-select: none;

      &::before {
        position: absolute;
        content: attr(data-content);
        color: $dark;
        clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
        text-decoration: line-through;
        text-decoration-thickness: 3px;
        text-decoration-color: $black;
        transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }
    }
  }
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 35px;

  .text {
    position: relative;
    max-width: 305px;
    font-size: 27px;
    flex-direction: column;
    z-index: 2;
    top: -70px;

    span {
      font-weight: 500;
      color: $dark;

      .orange {
        color: $orange;
        font-weight: 600;
      }
    }

    img {
      position: absolute;
      right: 0;
      // bottom: -100px;
      bottom: -80px;
      transform: rotate(354deg);
    }
  }
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px;
  flex-direction: column;
  padding: 70px;
  background-color: $whitegreen;
  border-radius: 6px;

  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);

  &::before {
    content: "X";
    top: 24px;
    right: 32px;
    position: absolute;
    cursor: pointer;
  }

  .text {
    position: relative;
    max-width: 360px;
    font-size: 24px;
    flex-direction: column;
    z-index: 2;
    text-align: center;

    span {
      font-weight: 500;
      color: $dark;

      .orange {
        color: $orange;
        font-weight: 600;
      }
    }
  }
}
