// Media-Queries
$mobile: 480px;
$tablet: 768px;
$notebooks: 1024px;
$lscreen: 1200px;
$sxga: 1300px;
$xlscreen: 1920px;

//Text colors
$green: #b0cb1f;
$dark: #313326;
$grey: #6f7168;
$orange: #ef7f1a;
$w: #fff;
$placeholder: #3d1c01;

//Borders colors
$bordergrey: #d4d2c5;
$bordergreen: #b0cb1f;
$bordercard: #ceccbf;

//Background colors
$whitegreen: #faf8eb;
$backgroundgreen: #f2f5d5;
$greenbox: rgba(176, 203, 31, 0.08);
